page-home {
	ion-slides {
		height: auto;
	}
	ion-content {
		// margin-top: 50px;
	}
	.icon_up{
		width: 56px;
		height: 56px;
		display: block !important;
		margin: 0 auto;
	} 
	.icon_down{
		text-align: center;
	}
	
}
