<!-- Generated template for the NurseListComponent component -->
<ion-list no-lines>
	<ion-list-header>
	西京医院
	</ion-list-header>
	<ion-item (click)="goNurseDetail()">
		<ion-thumbnail item-start>
			<img src="assets/icon/u=1475657737,4136675324&fm=26&gp=0.jpg">
		</ion-thumbnail>
		<h2>李长乐</h2><span item-end style="font-size: 10px;color: #999;">三年经验</span>
		<p>急诊科</p>
		<p>擅长：静脉输血，创面换药，静脉采血</p>
	</ion-item>
	<ion-item >
		<ion-thumbnail item-start>
			<img src="assets/icon/u=1475657737,4136675324&fm=26&gp=0.jpg">
		</ion-thumbnail>
		<h2>李长乐</h2><span item-end style="font-size: 10px;color: #999;">三年经验</span>
		<p>急诊科</p>
		<p>擅长：静脉输血，创面换药，静脉采血</p>
	</ion-item>
	<ion-item >
		<ion-thumbnail item-start>
			<img src="assets/icon/u=1475657737,4136675324&fm=26&gp=0.jpg">
		</ion-thumbnail>
		<h2>李长乐</h2><span item-end style="font-size: 10px;color: #999;">三年经验</span>
		<p>急诊科</p>
		<p>擅长：静脉输血，创面换药，静脉采血</p>
	</ion-item>		
</ion-list>
